<!DOCTYPE html>
<html>
    <head>
        <title>MARMOTZ Text Editor</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="title-container">
            <h1 onclick="location.href = '/'">MARMOTZ Text Editor</h1>
            <i class="fa fa-code" id="icon" onclick="location.href = '/'"></i>
        </div>

        {{{body}}}
    </body>
</html>
