<main id="home-page-container">
  <script src="home.js" type="text/javascript" defer></script>

  <button
    id="create-document-button"
    onclick="location.href = '/document'"
  >Create a New Document</button>
  <button id="open-document-button">Open an Existing Document</button>
</main>
