<main class="home-page">
  <div class="title-container">
    <h1>MARMOTZ Text Editor <i class="fa fa-code"></i></h1>
    <marquee behavior="alternate">Create New File || Open Saved File</marquee>
    <div class="icon">
      <i class="fa fa-group"></i>
    </div>
  </div>
</main>

<section id="document-container">
    <article id="document" contenteditable="true"></article>
</section>

