<main id="home-page-container">
  <script type="module" src="cookies.mjs"></script>
  <script type="module" src="home.mjs" defer></script>

  <button id="create-document-button">Create a New Document</buttonid>

  <button id="open-document-button" onclick="location.href = '/selectFile'">Open
    an Existing Document</button>
</main>
