<main id="select-file-container">
  {{! <script src="selectFile.js" type="text/javascript"></script> }}
  <form
    id="openFileForm"
    action="/document"
    method="POST"
    enctype="multipart/form-data"
  >
    <input type="file" id="fileInput" name="file" accept=".html,.txt" />
    <button type="submit">Open file</button>
  </form>

  <ul>
  {{#each documents}}
  {{#with this}}
    <li><a href="/loadDocument?doc={{id}}">{{title}}</a></li>
  {{/with}}
  {{/each}}
  </ul>
</main>
