html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
  background-color: #16161e;
  color: #82e5b4;
}

main {
  height: 100%;
}

/* a {
  text-decoration: none;
  color: #03a9f4;
}

a:hover {
  color: #0c719e;
} */

#title-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
  background-color: #16161e;
}

#title-container * {
  cursor: pointer;
}

#icon {
  margin: 0px 10px;
  font-size: 2em;
}

#home-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #20202e;
  height: 100%;
}

#create-document-button,
#open-document-button {
  margin: 50px;
  border: 2px solid #82e5b4;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  padding: 10px;
  background-color: #16161e;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #82e5b4;
  cursor: pointer;
}

#create-document-button:hover,
#open-document-button:hover {
  background-color: #313147;
}

/* marquee {
  background-color: #03a9f4
} */

#document-container {
  background-color: #20202e;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

#document {
  background-color: aliceblue;
  height: 100%;
  padding: 96px;
  color: #000000;
  outline: none;
}

#ribbon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #16161e;
}

#format-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

#style-format-button-container,
#structure-format-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

#apply-style-format-button-container,
#remove-style-format-button-container,
#apply-structure-format-button-container,
#remove-structure-format-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
}

#apply-style-format-button-container .format-button,
#remove-style-format-button-container .format-button {
  width: 42px;
}

.format-button {
  background-color: aliceblue;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  float: inline-start;
  padding: 10px;
  color: #82e5b4;
  font-size: 15px;
  border: 2px solid #82e5b4;
  border-radius: 10px;
  background-color: #16161e;
}

#state-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  margin: 20px 0px;
}

.state-button {
  display: inline-block;
  border: 2px solid #82e5b4;
  border-radius: 10px;
  background-color: #16161e;
  color: #82e5b4;
  cursor: pointer;
}

#title {
  margin: 10px 0px;
}