html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
  background-color: #16161e;
  color: #82e5b4;
}

main {
  height: 100%;
}

/* a {
  text-decoration: none;
  color: #03a9f4;
}

a:hover {
  color: #0c719e;
} */

#title-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px 10px;
  background-color: #16161e;
}

#title-container * {
  cursor: pointer;
}

#icon {
  margin: 0px 10px;
  font-size: 2em;
}

#home-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #20202e;
  height: 100%;
}

#create-document-button,
#open-document-button {
  margin: 50px;
  border: 2px solid #82e5b4;
  border-radius: 10px;
  width: 150px;
  height: 75px;
  padding: 10px;
  background-color: #16161e;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #82e5b4;
  cursor: pointer;
}

#create-document-button:hover,
#open-document-button:hover {
  background-color: #313147;
}

/* marquee {
  background-color: #03a9f4
} */

#document-container {
  background-color: #20202e;
  display: flex;
  flex-direction: column;
  padding: 10ch;
  height: 100%;
}

#document {
  background-color: aliceblue;
  height: 100%;
  padding: 96px;
  color: #000000;
  outline: none;
}

#ribbon {
  width:100%;
  display: flex;
  flex-direction: row;
  gap:3px;
  height:67px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #313147;
  overflow: auto;
}

.formatButton {
  background-color: aliceblue;
  text-align: center;
  width:40px;
  height:fit-content;
  cursor: pointer;
  float:inline-start;
  padding: 12px 0;
  color: black;
  font-size: 15px;
  border-radius: 15px;
}

#stitleButton {
  width: 70px;
}

#cstitleButton {
  width: 70px;
}

#saveButton {
  justify-self:right;
}

#modeButton {
  justify-self:right;
}